server:
  port: 8081
spring:
  application:
    name: 'gestao'
  profiles:
    active:
      - dev
      - prod
  config:
    import: configserver:http://localhost:8888
eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka/